/backend/node_modules
/backend/.env
/backend/npm-debug.log*
/backend/dist
/backend/build

/frontend/my-app/node_modules
/frontend/my-app/.env
/frontend/my-app/npm-debug.log*
/frontend/my-app/build
/frontend/my-app/.DS_Store

.DS_Store
Thumbs.db
*.log

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

.env.local
.env.development.local
.env.test.local
.env.production.local
