@import 'tailwindcss';

:root {
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-accent: var(--accent);
  --color-border: --color-text;
  --color-pill: var(--pill);
}

:root {
  --bg: #f8f9fa;
  --text: #001219;
  --accent: #03045e;
  --pill: #1541de;
}

.dark {
  --bg: #001219;
  --text: #f8f9fa;
  --accent: #4361ee;
  --pill: #ffcc00;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}

button {
  cursor: pointer;
}
