@import "tailwindcss";

:root {
  --color-bg: var(--bg);
  --color-text: var(--text);
  --color-accent: var(--accent);
}

:root {
  --bg: #ffffff;
  --text: #000000;
  --accent: #03045e;
}

.dark {
  --bg: #000000;
  --text: #ffffff;
  --accent: #4361ee;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

::selection {
  background-color: var(--color-text);
  color: var(--color-bg);
}

button {
  cursor: pointer;
}
